:local(.root) {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
   .blackBord{
       height: 96%;
       border: solid #d18326 2vh;
       background-color: #264242;
       color:#fff;
       position: absolute;
       overflow:auto;
        min-width:e('calc(100% - 4vh)');
        a{
            color:#fff; 
        }
        header{
            width: 100%;
            text-align: center;
            font-size: 1.5em;
            padding: 3vh 0;
        }
        ul{
            list-style-type: square;
            margin-bottom: 15vh;
            li{
               
                margin-top: 3vh;
                font-size: 1.3em;
                span{
                     font-size: 0.5em;
                }
                table{
                    background-color: rgba(255,255,255,0.1);
                    width: 90%;
                    color: #fff;
                    font-weight:100;
                    font-size: 0.8em;
                    margin-top: 2vh;
                    border-radius: 10px;
                    border:1px dashed #fff;
                    tr{
                        td{
                            line-height: 3vh;
                          height: 3vh;
                        }
                     
                    }
                    .moudle{
                        border-bottom: 1px dashed #fff;
                    }
                }
                .first{
                      td:nth-child(1){
                          
                          text-align: right;

                      }
                }
                .third{
                     td:nth-child(1){
                        width: 30%;

                      }
                }
                .second{
                    text-align: center;
                    font-size: 0.8em;
                    
                }
            }
        }
        .bottom{
            position: fixed;
            bottom: 4vh;
            width:e('calc(100% - 4vh)');
            font-weight: blod;
            background-color: #264242;
            button{
                color:#fff;
                 font-size: 1em;
                padding: 1vh 0;
                border:1px dotted #fff;
                background: none;
                outline: none;
                width: 25%;
                margin-left:6%;
                border-radius: 10px;
            }
        }
   }
}